{% extends 'base.html.twig' %}

{% block title %}Edit Mix {{ mix.title }} | {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="d-inline me-3">{{ mix.title }}</h1> <i class="fas fa-edit"></i>
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            {{ include('mix/_recordSvg.html.twig') }}
        </div>
        <div class="col-12 col-md-8 ps-5" id="track-list-edit">
            {{ include('mix/_trackListEdit.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
