{% extends 'base.html.twig' %}

{% block title %}{{ mix.title }} Mix{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="d-inline me-3">{{ mix.title }}</h1>
        <div class="row mt-5">
            <div class="col-12 col-md-4">
                {{ include('mix/_recordSvg.html.twig') }}
            </div>
            <div class="col-12 col-md-8 ps-5">
                <h2 class="mb-4">{{ mix.trackCount }} songs <small>(genre: {{ mix.genre }})</small></h2>
                <p>{{ mix.description }}</p>

                <div>
                    <span>{{ mix.votes }}</span> votes
                    <button
                        class="btn btn-outline-primary"
                    ><span class="fa fa-thumbs-up"></span></button>
                    <button
                        class="btn btn-outline-primary"
                    ><span class="fa fa-thumbs-down"></span></button>
                </div>

                <hr>

                {% for track in mix.tracks %}
                    {{ include('mix/_song_item.html.twig', {
                        withControls: false
                    }) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
